body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,textarea,p{
    margin:0px;
    padding:0px;
    font-size:13px;
}
ul{
    list-style:none;
}
img,a img{
    border:none;
}
a{
    text-decoration:none;
}
input{
    outline:none;
}

#top {
    width:100%;
    height:40px;
    background:#333;
}
#wrap {
    position: relative;
    width:90%;
    height:40px;
    margin:0px auto;
    /*background:pink;*/
    line-height:40px;
}
#nav {
    width:60%;
    height:40px;
    float:left;
    /*background:green;*/
}
#info {
    width:14%;
    height:40px;
    float:right;
    margin-right:5px;
}
#cart {
    width:10%;
    height:40px;
    float:right;

}
#nav a {
    font-size:12px;
    color:#b0b0b0;
}
#nav a:hover {
    color:white;
}
#nav span.sep{
    font-size:12px;
    color:#424242;
    margin:0 0.2em;
}
a.cart-mini {
    display:block;
    height:40px;
    line-height:40px;
    text-align:center;
    font-size:12px;
    color:#b0b0b0;
    background:#424242;
}
#cart img {
    height:15px;
    width:20px;
    vertical-align: -4px;
}
#info a {
    color:#b0b0b0;
    line-height:40px;
    font-size:12px;
}
#info a:hover {
    color:white;
}
#info span {
    font-size:12px;
    color:#424242;
    margin:0 0.2em;
}
#header {
    width:90%;
    height:100px;
    /*background:pink;*/
    margin:0px auto;
}
#logo {
    /*width:22%;*/
    height:100px;
    float:left;
}
.logo1 {
    display:block;
    width:55px;
    height:55px;
    background:#ff6700;
    margin-top:22px;
    float:left;
}
.logo11 {
    width:35px;
    height:35px;
    margin:10px 0 0 10px;
}
.logo2 {
    display:block;
    width:165px;
    height:100px;
    float:left;
    margin-left:7px;
}
.logo22 {
    margin-top:19px;
    width:165px;
}
#header-nav {
    width:53%;
    height:100px;
    /*background:yellow;*/
    float:left;

}
.nav-list {
    line-height:100px;
}
a.link {
    float:left;
    font-size:15px;
    color:#333;
    display:block;
    margin-left:16px;
    /*width:64px;
    height:30px;*/
}
a.link:hover {
    color:#ff6700;
}
#header-search {
    width:26%;
    height:100px;
    /*background:blue;*/
    float:right;
}
#searchform {
    width:296px;
    height:50px;
    /*background:pink;*/
    float:right;
    margin-top:24px;
}
#searchform .text {
    width:245px;
    height:48px;
    background:white;
    border:1px solid #e0e0e0;
}
#searchform .submit {
    width:48px;
    height:48px;
    margin-left:-5px;
    background:url(search.png) no-repeat;
    background-size: 60%;
    background-position: center;
    border:1px solid #e0e0e0;
    border-left: transparent;
    transition: all 1s;
}
#searchform .submit:hover {
    cursor: pointer;
    filter: brightness(2.3);
    background:url(search.png) no-repeat;
    background-size: 60%;
    background-position: center;
    background-color:#FF4500;
    border:none;
}
#searchform input{
    box-sizing: border-box;
}
#searchform .text:hover {
    border:1px solid #cdcdcd;
}
#searchform .text:focus {
    border:1px solid #ff6700;
}

 #container {
     width:90%;
     height:460px;
     background:url(bk.jpg);
     margin:0px auto;
}
 #left-nav {
     width:20%;
     height:460px;
     background:rgba(0,0,0,0.6);
 }
 ul.categoryList {
     padding:20px 0;
 }
 li.category-item {
     display: list-item;
 }
 a.title {
     display: block;
     color:#fff;
     height:42px;
     line-height: 42px;
     font-size: 14px;
     padding-left: 30px;
     position: relative;

 }
a.title img {
    height: 16px;
    width: 16px;
    color: rgba(255,255,255,0.5);
    text-align: center;
    position: absolute;
    top: 12px;
    right: 20px;
}
a.title:hover {
    background:#ff6700;
}
#next-contain {
    width:90%;
    height:170px;
    /*background:pink;*/
    margin: 14px auto 0px auto;
}
#next-contain #span1 {
    width: 20%;
    height: 170px;
    background: #5f5750;
}
#span1 .span1-list {
    padding: 3px;
    text-align: center;
}
li.topleft {
    width: 70px;
    height: 82px;
    float:left;
    position: relative;
}
li.topleft a {
    display: block;
    font-size: 12px;
    color: rgba(255,255,255,0.7);
}
li.topleft a img {
    width: 24px;
    height: 24px;
    color: rgba(255,255,255,0.7);
    padding-top: 18px;
    display: block;
    margin:0 0 4px 20px;
}














